[Unit]
Description=Check for system updates
After=graphical.target

[Service]
Type=oneshot
ExecStart=/usr/bin/bash -c ~/scripts/check_updates.sh
Environment=WAYLAND_DISPLAY=wayland-0
Environment=XDG_RUNTIME_DIR=/run/user/%U
Environment=DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%U/bus
