@import "mocha.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  font-weight: 900;
  min-height: 0;
}

#waybar {
  background-color: @mantle;
  color: @text;
}

#workspaces {
  border-radius: 8px;
}

#workspaces button {
  color: @overlay1;
  border-radius: 8px;
}

#workspaces button.active {
  color: @mauve;
  border-radius: 8px;
}

#workspaces button:hover {
  color: @blue;
  border-radius: 8px;
}

#custom-k8s,
#custom-music,
#clock,
#cpu,
#memory,
#network,
#bluetooth,
#pulseaudio,
#battery,
#tray,
#backlight,
#custom-lock,
#custom-power {
  padding: 0.25rem 0.4rem;
}

#memory {
  color: @peach;
}

#cpu {
  color: @teal;
  border-radius: 5px 0px 0px 5px;
}

#network {
  color: @blue;
  border-radius: 0px 5px 5px 0px;
}

#clock {
  color: @mauve;
  border-radius: 8px;
}

#bluetooth {
  font-size: 1rem;
  color: @blue;
  border-radius: 0px 5px 5px 0px;
  margin-right: -10px;
}

#pulseaudio {
  color: @maroon;
  border-radius: 5px 0px 0px 5px;
}

#battery {
  color: @green;
  border-radius: 0px 5px 5px 0px;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight {
  border-radius: 0;
}

#custom-music {
  color: @blue;
  border-radius: 8px;
}

#custom-lock {
  border-radius: 5px 0px 0px 5px;
  color: @overlay1;
}

#custom-power {
  border-radius: 0px 5px 5px 0px;
  color: @red;
  margin-right: 0.4rem;
}

#custom-power button {
  color: @overlay1;
  border-radius: 8px;
}

#custom-arch {
  color: @blue;
  font-size: 1rem;
}

#custom-k8s {
  font-size: 12px;
  font-weight: bold;
  border-radius: 8px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#custom-k8s.k8s-up {
  color: #a6e3a1;
  background-color: rgba(166, 227, 161, 0.05);
}

#custom-k8s.k8s-down {
  color: #f28fad;
  background-color: rgba(242, 143, 173, 0.05);
}

#custom-k8s.k8s-up:hover,
#custom-k8s.k8s-down:hover {
  color: #f9e2af;
}

#custom-potato {
  padding: 0.25rem 0.6rem;
  font-weight: 900;
  border-radius: 8px;
}

#custom-potato.running {
  color: @mauve;
}
#custom-potato.paused {
  color: @peach;
}
#custom-potato.break {
  color: @blue;
}
#custom-potato.idle {
  color: @overlay1;
}

#custom-potato:hover {
  background-color: rgba(203, 166, 247, 0.06);
}

tooltip {
  background: @base;
  color: @text;
  border-radius: 12px;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
}

tooltip label {
  color: @text;
}
