@import "mocha.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  font-weight: 900;
  min-height: 0;
  padding-right: 2px;
  padding-left: 2px;
  padding-bottom: 0px;
}

#waybar {
  background-color: @mantle;
  color: @text;
}

#workspaces {
  border-radius: 5px;
  margin: 5px;
  margin-left: 0.5rem;
}

#workspaces button {
  color: @overlay1;
  border-radius: 5px;
  padding: 0.4rem;
}

#workspaces button.active {
  color: @mauve;
  border-radius: 5px;
}

#workspaces button:hover {
  color: @blue;
  border-radius: 5px;
}

#custom-music,
#tray,
#backlight,
#clock,
#battery,
#pulseaudio,
#network,
#cpu,
#memory,
#custom-lock,
#custom-power,
#custom-arch {
  padding: 0.25rem 0.4rem;
  margin: 5px 0;
}

#group-system,
#group-media {
  margin-right: 2rem;
  border-radius: 8px;
  padding: 0 4px;
}

#bluetooth {
  font-size: 1rem;
  color: @blue;
  border-radius: 0px 5px 5px 0px;
}

#memory {
  color: @peach;
}

#cpu {
  color: @teal;
  border-radius: 5px 0px 0px 5px;
}

#network {
  color: @blue;
  border-radius: 0px 5px 5px 0px;
}

#clock {
  color: @mauve;
  border-radius: 5px;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

#battery {
  color: @green;
  border-radius: 0px 5px 5px 0px;
  margin-right: 0.5rem;
}

#battery.charging {
  color: @green;
}

#battery.warning:not(.charging) {
  color: @red;
}

#backlight {
  color: @yellow;
}

#backlight {
  border-radius: 0;
}

#pulseaudio {
  color: @maroon;
  border-radius: 5px 0px 0px 5px;
  margin-left: 0.5rem;
}

#custom-music {
  color: @mauve;
  border-radius: 5px;
}

#custom-lock {
  border-radius: 5px 0px 0px 5px;
  color: @overlay1;
}

#custom-power {
  border-radius: 0px 5px 5px 0px;
  color: @red;
  margin-right: 0.5rem;
}

#custom-power button {
  color: @overlay1;
  border-radius: 5px;
  padding: 0.4rem;
}

#custom-arch {
  font-size: 1rem;
  color: @blue;
  padding: 0 0.5rem;
}

tooltip {
  background: @base;
  color: @text;
  border-radius: 12px;
  font-family: "JetBrainsMono Nerd Font";
  font-size: 12px;
  padding: 16px;
}

tooltip label {
  color: @text;
}
